@page "/smart-pdf-viewer/summarizer"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.SmartPdfViewer
@using Syncfusion.Blazor.SfPdfViewer

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@*End:Hidden*@
<SampleDescription>
    <p>
        This example demonstrates how the Smart PDF Viewer intelligently performs PDF summarization and Q&A. Users can obtain a summary of a PDF document by selecting <strong> AI AssistView </strong> from the side bar of the PDF Viewer. After the summary is generated, users can ask questions about the document using their own queries or AI-generated suggestions.
    </p>
    <p>
        Explore our <strong>Smart PDF Viewer demos</strong> with limited AI token usage directly in your browser. To dive deeper and try out these features locally using your own API key, check out our
        <a href="https://github.com/SyncfusionExamples/blazor-smart-pdf-viewer-examples" target="_blank" aria-label="Navigate to the Syncfusion Smart AI Samples GitHub repository">
            <strong>Syncfusion Smart PDF Viewer samples</strong>
        </a> on GitHub.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        <strong>PDF summarization:</strong> PDF Summarization provides users with a comprehensive overview of a document's content. The AI generates a detailed summary, highlighting key points. This feature streamlines understanding complex documents in just a few clicks.
    </p>

    <p>
        <strong>Q&A:</strong> The Q&A feature allows users to ask questions about a document's content. Users can either input their own queries or choose from AI-generated suggestions. This makes it easier to find specific information within the document.
    </p>

    <p>
        The <a target='_blank' href='https://help.syncfusion.com//cr/blazor/Syncfusion.Blazor.SmartPdfViewer.AssistViewSettings.html' aria-label="aria-label=" Navigate to the Smart PDF Viewer AssistViewSettings">AssistViewSettings</a> with <a target='_blank' href='https://help.syncfusion.com//cr/blazor/Syncfusion.Blazor.SmartPdfViewer.AssistViewSettings.html' aria-label="aria-label=" Navigate to the Smart PDF Viewer AssistViewSettings StreamResponse">StreamResponse</a> enabled allows the AI assistant to display answers progressively as they are being generated, enhancing real-time interaction.
    </p>
    <p>More information about using <strong>Smart PDF Viewer</strong> can be found in this <a target='_blank' href='https://help.syncfusion.com/document-processing/pdf/smart-pdf-viewer/blazor/document-summarizer' aria-label="Syncfusion documentation page about the Document Summarizer feature in Smart PDF Viewer">documentation section</a>.</p>
</ActionDescription>

@*Hidden:Lines*@
<AINotification></AINotification>
@*End:Hidden*@

@*Hidden:Lines*@
<AIToastNotification></AIToastNotification>
@*End:Hidden*@

@*Hidden:Lines*@
<div class="col-lg-12 control-section" id="default">
    <div class="content-wrapper">
        <div class="control-section">
            @*End:Hidden*@
            <SfSmartPdfViewer id="pdf-viewer" @ref="ViewerInstance" DocumentPath="wwwroot/data/smartpdfviewer/gis-succinctly.pdf" Height="640px" Width="100%">
                <AssistViewSettings StreamResponse="true" ></AssistViewSettings>
                <SmartRedactSettings Enable="false"></SmartRedactSettings>
                <SmartFillSettings Enable="false"></SmartFillSettings>
                <PdfViewerEvents DocumentLoaded="DocumentLoaded"></PdfViewerEvents>
            </SfSmartPdfViewer>
            @*Hidden:Lines*@
        </div>
    </div>
</div>
@*End:Hidden*@
@code {
    SfSmartPdfViewer? ViewerInstance { get; set; }

    private async void DocumentLoaded(LoadEventArgs args)
    {
        await ViewerInstance.ToggleItemByIndex(0);
    }
}

