
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications

<SfToast @ref="ToastObj" Timeout=0 Title="API Key Required" Content="@ToastContent" ShowCloseButton="true" Target="#control-content" CssClass="ai-notification">
    <ToastPosition X="Right"></ToastPosition>
</SfToast>


@code {
    SfToast? ToastObj;

    private string ToastContent = "To run this sample, navigate to the Program.cs file and replace the placeholders with your AI credentials. For more information, visit <a href=\"https://github.com/SyncfusionExamples/blazor-smart-pdf-viewer-examples\" target=\"_blank\">AI samples configuration</a>.";
    private bool showToast;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && showToast)
        {
            await ShowToast();
        }
    }

    private async Task ShowToast()
    {
        if(this.ToastObj != null) await this.ToastObj.ShowAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

#if !STAGING && RELEASE
    	showToast = false;
#else
        showToast = true;
#endif
    }
}